.table{
    background-color: gray;
}

.th, .td{
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.divPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section2{
    width: 100vw;
    height: 100vh;
}

.base{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.divsS{

}